package views

import (
	"ssr-go/components/product-list"
	"api/models"
)

templ Home(products []models.Product) {
	<div>
		<h1>Home</h1>
		<p>Home page</p>
		@components.ProductList(products)
	</div>
}
