package navComponent

import "api/models"
import "ssr-go/components/cart"

templ Nav(products *[]models.Product) {
	<div class="page-header">
		<nav>
			<ul>
				<h1>Product Store</h1>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
			</ul>
		</nav>
		@cart.CartComponent(products)
	</div>
}
